@charset "UTF-8";
/* ---------Переменные------- */
:root {
  --main-blackcolor: #212121;
  --grey-fontcolor: #757575;
  --white-fontcolor: #ffffff;
  --accent-color: #2196f3;
  --black-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --main-backgroundcolor: #ffffff;
  --accent-background: #2f303a;
  --second-white-background: #f5f4fa;
  --accent-color-hover: #188ce8;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--main-backgroundcolor);
  color: var(--main-blackcolor);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--main-blackcolor);
}

.header {
  border-bottom: 1px solid #ececec;
}
.header > .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  margin-left: 93px;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-blackcolor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list__item + .contact-list__item {
  margin-left: 50px;
}

.contact-list__link {
  display: inline-flex;
  padding: 32px 0px 32px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-fontcolor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.navigation__link.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  align-items: center;
  text-align: center;
}
.logo-black {
  color: var(--black-logo-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/img17.jpg);
  background-color: var(--accent-background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-fontcolor);
}

.icon-hero-close {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-bg {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: var(--second-white-background);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-blackcolor);
  margin-bottom: 50px;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}
.features-list__item:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
}
.features-list__icon {
  align-items: center;
}
.features-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--grey-fontcolor);
}
.features-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.about {
  padding-bottom: 94px;
}
.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-blackcolor);
  margin-bottom: 50px;
}

.about-list {
  display: flex;
}
.about-list__item:not(:last-child) {
  margin-right: 30px;
}
.about-list__overlay {
  display: block;
  position: relative;
}
.about-list__title {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-backgroundcolor);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--second-white-background);
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-blackcolor);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}
.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--grey-fontcolor);
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--main-backgroundcolor);
}
.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-workers {
  padding: 30px 32px;
}

.social-list {
  display: flex;
  margin-top: 16px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  background-color: var(--main-backgroundcolor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  color: var(--white-fontcolor);
  background-color: var(--accent-color);
}

.social-icon {
  fill: currentColor;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.clients__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.clients__icon {
  fill: currentColor;
}

.clients__item {
  width: 170px;
  height: 90px;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__item:hover, .clients__item:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  background-color: var(--main-backgroundcolor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-border {
  border: 1px solid #eeeeee;
  border-top: transparent;
  padding: 20px 24px;
}
.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-list-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--grey-fontcolor);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-background);
}

.footer-social__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-fontcolor);
}

.footer-social {
  margin-left: 70px;
  width: 206px;
}
.footer-social__list {
  display: flex;
  padding: 0;
  margin-top: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.footer-social__item {
  width: 44px;
  height: 44px;
}
.footer-social__icon {
  fill: currentColor;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--white-fontcolor);
  background-color: rgba(255, 255, 255, 0.062745098);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  color: var(--white-fontcolor);
  background-color: var(--accent-color);
}

.logo-white {
  color: var(--white-fontcolor);
}

.list {
  margin-top: 20px;
}
.list-item:not(:first-child) {
  margin-top: 9px;
}

.address__link.list {
  color: var(--white-fontcolor);
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}
.footer-form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-fontcolor);
  margin-bottom: 20px;
}

.mail-field {
  display: flex;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  color: var(--white-fontcolor);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.footer-submit-icon {
  fill: var(--main-backgroundcolor);
  margin-left: 10px;
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-text-color);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-blackcolor);
}

.hero__btn {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-fontcolor);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  color: var(--white-fontcolor);
  background-color: var(--accent-color-hover);
}

.portfolio-button {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  background-color: var(--second-white-background);
  color: var(--main-blackcolor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button:hover, .portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--white-fontcolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background: var(--main-backgroundcolor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.backdrop-hero.is-hidden .modal-hero {
  transform: translate(-50%, -50%) scale(0);
}

.modal-hero-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--main-backgroundcolor);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-hero-close:hover .icon-hero-close,
.modal-hero-close:focus .icon-hero-close {
  fill: var(--accent-color);
}

.backdrop-hero {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.portfolio-item {
  margin: 15px;
}

.items-overlay {
  position: relative;
  overflow: hidden;
}

.items-top-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-fontcolor);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .items-top-text {
  transform: translateY(0%);
}

.item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-link:hover, .item-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.form-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.form-policy__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form-policy__text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--grey-fontcolor);
  cursor: pointer;
}

.form-policy__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 3px solid var(--main-blackcolor);
  border-radius: 2px;
}
.form-policy__check:checked + .form-policy__text .form-policy__checkbox {
  background-color: var(--accent-color);
  border: none;
}
.form-policy__check:focus + .form-policy__text .form-policy__checkbox {
  border-color: var(--accent-color);
}

.form-policy__icon {
  fill: transparent;
}
.form-policy__check:checked + .form-policy__text .form-policy__icon {
  fill: var(--main-backgroundcolor);
}

.policy__link {
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: underline;
}

.form__comment {
  height: 120px;
  font-size: 12px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form__comment:focus {
  border-color: var(--accent-color);
}
.form__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-btn__submit {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--white-fontcolor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn__submit:hover, .form-btn__submit:focus {
  background-color: var(--accent-color-hover);
}

.form__contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--grey-fontcolor);
}

.form__field {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  color: var(--black-logo-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form__input:focus {
  border-color: var(--accent-color);
}
.form__input:focus + .input-icon {
  fill: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */