.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  &-border {
    border: 1px solid #eeeeee;
    border-top: transparent;
    padding: 20px 24px;
  }

  &-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  &-text {
    margin-top: 4px;

    font-size: 16px;
    line-height: 1.87;
    color: var(--grey-fontcolor);
  }
}
